@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Style+Script&display=swap');
:root{
    --color:#f3cd8e;
    --font_inter :"Inter", sans-serif;
    --font_openSans: "Open Sans", sans-serif;
    --font_style: "Style Script", cursive;
    --font_body:"Bodoni Moda", serif;
    --background : #f9f9f9;
    --button:rgba(0, 0, 0, 0.819);
}
body{
    margin: 0;
}
header{
    background-image: url(3312580.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height:fit-content;
}
nav{
    display: flex;
    justify-content: space-between;
    padding: 30px;
    background-color: rgba(128, 128, 128, 0.44);
    border-bottom: 3px solid black;
}
nav .tabs a{
    color: white;
    font-family: var(--font_openSans);
    text-decoration:none;
    margin: 10px;
}
nav .logo{
    font-size: 20px;
    font-family: var(--font_inter);
    color: white;
}
.home{
    margin-top: 5rem;
    padding: 10px;
    width: 70%;
    display: flex;
    flex-direction: column;
}
.home h1{
    font-size: 5rem;
    display: inline;
    color:white;
    font-family: var(--font_openSans);
    margin-bottom: 1.4rem;
}

.home button{
    width: 16.5rem;
    border-radius: 20px;
    height: 50px;
    border: none;
    text-align: left;
    font-family: var(--font_openSans);
    font-size: 30px;  
    margin-bottom: 5rem;
}
.bottom{
    position: relative;
}
.home img{
    width: 40px;
    position: absolute;
    left: 13.6rem;
    top: 0.3rem;
}
.mobile{
    display: none;
}
.skills{
    display: flex;
    justify-content: space-between;
    padding: 30px;
    position: relative;
    z-index: 100;
    bottom: 2rem;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    background-color:var(--background);
}
.skills_text , .skills_boxes{
    margin-top: 5rem;
}
.skills_text .text{
    position: sticky;
    top: 10rem;
    width: 80%;
}
.skills_text h3 { 
    font-family: var(--font_inter);
    font-size: 40px;
}
.skills_text h1{
    font-family: var(--font_openSans);
    font-size: 45px;
}
.skills_boxes{
    display: flex;
    flex-direction: column;
    width: 60%;
    gap: 1rem;
}
.skills_boxes .box{
    width: 57rem;
    aspect-ratio: 2/1;
    background-color: rgb(80, 39, 80);
    position: sticky;
    top: 10rem;
    color: white;
    border-radius: 5px;
    box-shadow: 14px 7px 7px rgba(0, 0, 0, 0.286);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 30px;
    font-size: 2.5rem;
    font-family: var(--font_openSans);
}

.skills_boxes .box:nth-child(even){
    background-color: rgb(26, 19, 29);
    color: white;
}
.pic{
    background-image: url(/media/group.jpg);
    width: 100%;
    aspect-ratio: 1/1;
    background-size: cover;
    background-position: center;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    position: relative;
    z-index: 10;
}
.team{
    background-color: rgb(20, 8, 20);
    margin-top: -3rem; 
    padding-top: 5rem;
}
.founders{
    display: flex;
    justify-content: space-between;
    gap: 20px;
}
.team_title{
    color: white;
    font-family: var(--font_inter);
    padding: 10px;
}
.team_title h1{
    font-size: 3rem;
}
.team_title p{
    color: rgb(189, 189, 189);
}
.founders div{
    width: 50%; 
    display: flex;
    align-items: center;
    border: 3px solid rgb(49, 34, 34);
    border-radius: 10px;
    padding: 10px;
}
.founders div article{
    color: white;
    font-family: var(--font_openSans);
    text-align: center;
    align-self: center;
    margin-left: 5rem;
}
.founders div img{
    width: 40%;
    border-radius: 5px;
}
.position{
    color: rgb(181, 181, 181);
}
/*Tablet*/@media (max-width:1200px) {
    .founders div article .quote{
        font-size: 16px;
    }
    .founders div article{
        margin-left: 0;
        width: 50%;
        display: flex;
        flex-direction: column;
        padding: 10px;
    }
    .founders div{
        width: 100%;
        border: none;
    }
    .founders{
    flex-direction: column;
}
    .skills_text .text h1{
        font-size: 35px;
    }
    .skills_boxes .box{
        max-width: 25rem;
        font-size: 20px;
    }
    .skills_boxes{
        width: 60%;
    }
    .skills_boxes h1{
        font-size: 25px;
    }
    .home button{
    width: 12.3rem;
    height: 55px;
    font-size: 25px;
}
    .home h1{
       font-size: 2.9rem; 
    }
    .home img{
    width: 40px;
    position: absolute;
    left: 9.4rem;
    top: 0.4rem;
}
}
/*Mobile*/@media (max-width:650px) {
    .founders div article .quote{
        font-size: 11px;
        width: 100%;
    }
    .founders div article p{
        font-size: 12px;
    }
    .founders div article{
        text-align: left;
        width: 100%;
    }
    * {
  box-sizing: border-box;
    }
    html,body{
        
        width: 100%;
    }
    nav{
        padding: 20px;
    }
    .home{
      width: 100%;
    }
    .home h1{
        font-size: 1.8rem;
    }
    .home button{
    width: 9rem;
    height: 40px;
    font-size: 100%;
    }
    .home img{
    width: 33px;
    position: absolute;
    left: 6.7rem;
    top: 0.2rem;        
    }
    .mobile{
        display: block;
    }
    .comp{
        display: none;
    }
    .mobile {
        display: flex;
        justify-content: space-between;
    }
    .mobile .mobile_tabs img{
        width: 30%;
    }
    .mobile .mobile_tabs{
        width: 20%;
        text-align: right;
    }
    .skills{
        flex-direction: column;
    }
    h1{
        margin: 0;
        padding: 0;
    }
    .skills{
        padding: 13px;
    }
    .skills_text .text h1{
        font-size: 30px;   
    }
    .skills_text .text h3{
        font-size: 20px;
    }
    .skills_boxes{
        width: 100%;
    }
    .skills_boxes .box{
        width: 100%;
        aspect-ratio: 2/1;
        top: 5rem;
        flex: 1;
    }
    .skills_boxes .box h1{
         font-size: 20px;
    }
}